/* debug items (to delete after layout setup) */
.ms-bg-1 {
    background-color: #2c3e50;
}

.ms-bg-2 {
    background-color: #1abc9c;
}

.ms-bg-3 {
    background-color: #3a546d;
}

.debug-box-3 {
    background-color: #ba4b63;
    height: 360px;
    border: 1px solid black;
}

.debug-box-4 {
    background-color: #ccc;
    height: 455px;
    border: 1px solid black;
}

.debug-box-5 {
    background-color: #ccc;
    height: 100px;
    border: 1px solid black;
}

/* header section */
/* nav */
.header-section .ms-navbar a.ms-text-custom {
    font-size: 1.7rem;
}

.header-section .ms-navbar a.ms-text-custom-2 {
    color: #fcfcfc;
}

.img-box-width {
    width: 250px;
}

.ms-font-size {
    font-size: 4rem;
}

.ms-bg-2 .row .ms-icon-box::after {
    content: "";
    display: inline-block;
    margin:0 auto;
    vertical-align: text-top;
    border-radius: 10px;
    width: 150px;
    height: 4px;
    background-color: #fff;

}

.ms-bg-2 .row .ms-icon-box::before {
    content: "";
    display: inline-block;
    margin:0 auto;
    vertical-align: text-top;
    border-radius: 10px;
    width: 150px;
    height: 4px;
    background-color: #fff;
}